/* Add a black background color to the top navigation */
body {
  margin: 0px;
  padding: 0px;
  height: 100vh; /* Set body height to full viewport height */
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.topnav {
  background-color: rgba(0, 0, 0, 0.88); /* Black color with 50% opacity */
  
  height: 100px; /* Adjust height as needed */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Spreads the elements horizontally */
  align-items: center; /* Aligns items vertically */
  padding: 0px 40px; /* Adjust padding as needed */
}

.logo-container {
  display: flex;
  align-items: center; /* Aligns logo vertically */
}

#test {
  display: flex; /* Use flexbox for layout */
  margin-left: auto; /* Move the test div to the right */
}

#test a {
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
  text-align: center;

  padding: 15px 10px; /* Adjust padding as needed */
  margin: 20px; /* Reset margin */
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s; /* Add transition effect to color change */
}

/* Change the color of links on hover */
#test a:hover {
  color: #fff; /* Change color on hover */
}

.text{
  padding-left: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 30px;
}

